<?xml version="1.0"?>
<launch>
    <arg name="ugv1_config_file" default="$(find mecanum_ugv_controller)/config/mecanum_ugv_controller.yaml"/>
    <arg name="ugv2_config_file" default="$(find mecanum_ugv_controller)/config/mecanum_ugv_controller.yaml"/>
    <include file="$(find mecanum_ugv_controller)/launch/ugv_mecanum_reset_controller.launch">
        <arg name="ns" value="ugv1"/>
        <arg name="config_file" value="$(arg ugv1_config_file)"/>
    </include>
    <include file="$(find mecanum_ugv_controller)/launch/ugv_mecanum_reset_controller.launch">
        <arg name="ns" value="ugv2"/>
        <arg name="config_file" value="$(arg ugv2_config_file)"/>
    </include>
</launch>
