<?xml version="1.0"?>
<launch>
    <arg name="ugv1_config_file" default="$(find unicycle_ugv_controller)/config/scout_flatness.yaml"/>
    <arg name="ugv2_config_file" default="$(find unicycle_ugv_controller)/config/scout_flatness.yaml"/>
    <arg name="ugv3_config_file" default="$(find unicycle_ugv_controller)/config/scout_flatness.yaml"/>
    <arg name="ugv4_config_file" default="$(find unicycle_ugv_controller)/config/scout_flatness.yaml"/>
    <include file="$(find unicycle_ugv_controller)/launch/ugv_unicycle_nmpc_controller.launch">
        <arg name="ns" value="ugv1"/>
        <arg name="config_file" value="$(arg ugv1_config_file)"/>
    </include>
    <include file="$(find unicycle_ugv_controller)/launch/ugv_unicycle_nmpc_controller.launch">
        <arg name="ns" value="ugv2"/>
        <arg name="config_file" value="$(arg ugv2_config_file)"/>
    </include>
    <include file="$(find unicycle_ugv_controller)/launch/ugv_unicycle_nmpc_controller.launch">
        <arg name="ns" value="ugv3"/>
        <arg name="config_file" value="$(arg ugv3_config_file)"/>
    </include>
    <include file="$(find unicycle_ugv_controller)/launch/ugv_unicycle_nmpc_controller.launch">
        <arg name="ns" value="ugv4"/>
        <arg name="config_file" value="$(arg ugv4_config_file)"/>
    </include>
</launch>
